@theme {
  --breakpoint-2xs: 32rem; /* 512px */
  --breakpoint-xs: 40rem; /* 640px */
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-md: 62rem; /* 992px */
  --breakpoint-lg: 74rem; /* 1184px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 110rem; /* 1760px */
  --breakpoint-4xl: 120rem; /* 1920px */
  --breakpoint-5xl: 160rem; /* 2560px */
}
