@theme {
  --color-slate-800: #2b2b33;
  --color-slate-500: #606887;
  --color-slate-300: #aab2d1;
  --color-slate-100: #f8f9ff;
  --color-slate-50: #f3f2f9;

  --color-sky-600: #06A5C7;
  --color-sky-400: #5ed3f3;

}
