@font-face {
  font-family: "studiofeixen-variable";
  src: url("/fonts/studio-feixen-sans-variable.woff2") format("woff2"),
    url("/fonts/studio-feixen-sans-variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "studiofeixen";
  src: url("/fonts/StudioFeixenSans-Book.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "studiofeixen";
  src: url("/fonts/StudioFeixenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "studiofeixen";
  src: url("/fonts/StudioFeixenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "studiofeixen";
  src: url("/fonts/StudioFeixenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "studiofeixen-writer";
  src: url("/fonts/StudioFeixenSansWriter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --text-xxs: 0.5rem; /* 8px */
  --text-2xs: 0.625rem; /* 10px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px*/
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.75rem; /* 28px */
  --text-4xl: 2rem; /* 32px */
  --text-5xl: 2.25rem; /* 36px */
  --text-6xl: 2.5rem; /* 40px */
  --text-7xl: 3rem; /* 48px */
  --text-8xl: 4.5rem; /* 72px */
}

/* THEME INLINE --> Use theme inline when defining tokens that reference other tokens, such as variables or animations. Reference: https://tailwindcss.com/docs/theme#referencing-other-variables */
@theme inline {
  --font-studiofeixen: "studiofeixen";
  --font-studiofeixen-variable: "studiofeixen-variable";
  --font-studiofeixen-writer: "studiofeixen-writer";
}
