/* THEME INLINE --> Use theme inline when defining tokens that reference other tokens, such as variables or animations. Reference: https://tailwindcss.com/docs/theme#referencing-other-variables */

@layer utilities {
  kbd {
    @apply rounded-sm bg-slate-700/20 px-1.5 py-1 text-sm text-slate-700 uppercase transition-colors duration-200 dark:bg-white/20 dark:text-slate-50;
  }
}
